*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins',sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f6f7;
}

.container{
  max-width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

header{
  background:linear-gradient(135deg, #007bff, #00d4ff);
  color: white;
  text-align: center;
  padding: 40px 0;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.profile-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
  
}

