*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins',sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f6f7;
}

.container{
  max-width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

header{
  background:linear-gradient(135deg, #007bff, #00d4ff);
  color: white;
  text-align: center;
  padding: 40px 0;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.profile-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
  
}

nav{
  background-color: #111;
  position: static;
  top: 0;
  z-index: 1000;
}
nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

nav li{
  margin:0px 20px;
}

nav a{
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
}

nav a:hover{
  background-color: #007bff;
  border-radius: 4px;
}

/* About Section */

.about-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin: 20px;
  

}

.about-image{
  width: 200px;
  border-radius: 10px;
}

.btn{
  display:inline-block;
  padding: 5px 5px;
  margin-top: 10px;

  background-color: lch(48.28% 62.93 283.43);
  color:white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3;
}

.btn:hover{
  background-color: #111;
}

