* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f6f7;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

h2 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  color: #111;
}

header {
  background: linear-gradient(135deg, #007bff, #00d4ff);
  color: white;
  text-align: center;
  padding: 40px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
}

nav {
  background-color: #111;
  position: static;
  top: 0;
  z-index: 1000;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

nav li {
  margin: 0px 20px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
}

nav a:hover {
  background-color: #007bff;
  border-radius: 4px;
}

/* About Section */

.about-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
}

.about-image {
  width: 200px;
  border-radius: 10px;
  margin-left: 200px;
}

.about-me {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
    padding: 20px;
}

.about-me p {
    margin: 0; 
    line-height: 1.5; 
}

.btn {
  display: inline-block;
  padding: 10px 10px;
  margin-top: 10px;

  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3;
}

.btn:hover {
  background-color: #686a6f;
}

#about {
  width: 100%;
  height: 400px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: 0.3s;
  padding-right: 70px;
}

#about:hover {
  transform: translateY(-5px);
}

/* Technical Skills */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  text-align: center;
}

.skills {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skills:hover {
  background-color: #686a6f;
  transform: translateY(-5px);
  color: white;
  transition: 0.3s;
}

.skills img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.skills span {
  font-size: 14px;
  font-weight: 500;
}

/* project section */

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 400px;
  height: 300px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 200px;
  border-radius: 5px;
  padding-top: 20px;
}

.btnn {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px;
  margin: 10px auto;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3;
}

.btnn:hover{
  background-color: #686a6f;
}
.exp-card {
  background: white;
  border-left: 4px solid #007bff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

form {
  max-width: 600px;
  margin: auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  margin-top: 40px;
  width: 100%;
  background: #111;
  color: white;
  padding: 15px;
  text-align: center;
  opacity: 90%;
}

